@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap");
html,
body {
  padding: 15px;
  margin: 0;
  font-family: Prompt !important;
  background-color: #012d5e;
  /* , #ffc107, #bbc7d4, #34577e, #27a743, #234973  */
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ContentHeader{
  color: #ffc107;
}
